alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias grep='grep --color'
alias ls='ls -Gp'
alias ll='ls -lah'
alias lt='gls -lah --time-style="+%Y-%m-%d %H:%M:%S %z"'
alias hist='history -i 1'
alias qgis='open -n "/Applications/QGIS.app"'
