[user]
	name = I-Kang Ding
	email = ikang.ding@koboldmetals.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	excludesfile = /Users/ikding/.gitignore_global
	editor = code --wait
	checkStat = minimal
	trustctime = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff "lfs"]
	textconv = cat
[alias]
	gone = !git fetch --prune && git branch -v | grep \"\\[gone\\]\" | awk '{print $1}' | xargs git branch -D
[safe]
	directory = /home/kobold/kobold-core
	directory = /home/kobold/machine-prospector
	directory = /home/kobold/terrashed-ingest
	directory = /home/kobold/kobold-scratch-lfs
